<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.hsuhau.mybatis.mapper.UserMapper">

	<select id="getUser" resultType="com.hsuhau.common.entity.User">
		select * from user where id = #{id}
	</select>
	
	<select id="getAll" resultType="com.hsuhau.common.entity.User">
		select * from user
	</select>
	
	<update id="updateUser">
		update user set userName = '网易云课堂Allen老师' where id = #{id}
	</update>
	
</mapper>